@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

body{
	margin: 0;
	width: 100%;
}

figure{
	margin:0;
	margin-bottom: 2%;
	padding-bottom: 2%;
	border-bottom: 3px solid black;
}
.spacex{
	width: 40%;
	position: relative;
	margin-top: 3%;
	left: 33%;
}
.menu{
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 2%;
}
.zwaartekrachtknop{
	display: none;
}
header{
	border-bottom: 3px solid black;
	background-color: white;
}
.footer{
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 2%;
	background-color: white;
}
footer{
	border-bottom: 5px solid black;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	padding-top: 1%;
}
a{
	text-decoration: none;
	font-family: 'Oxanium';
	color: #000000;
	font-size: 17px;
}
a:hover{
	text-decoration:underline;
}

h2{
	font-family: 'Oxanium';
	width: 100%;
	margin-bottom: 5px;
}

article{
    background: rgba(0, 82, 136, 0.8);
	border: 5px solid rgba(0, 82, 136);
    text-align: center;
    margin-bottom: 3%;
	padding: 2%;
	color: white;
	border-radius: 10px;
}
.afstand{
	margin-top: 3%;
}
.acceleratie{
	margin-bottom: 18%;
}
.zwaartekracht{
	display: none;
}
main{
    margin: auto;
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

canvas{
    width: 350px;
    height: 350px;
}

.chartdiv {
    width: 100%;
    height: 350px;
}
@media only screen and (min-width: 500px){
	a{
		font-size: 22px;
	}
	h2{
		font-size: 35px;
	}
	.zwaartekracht{
		display: block;
	}
	.zwaartekrachtknop{
		display: block;
	}
}
@media only screen and (min-width: 730px){
	html{
		height: 100%;
	}
	main{
        flex-wrap: wrap;
        flex-direction: row;
    }
	article{
		width: 40%;
	}
	.speed{
		margin-top: 3%;
	}
	.zwaartekracht{
		margin-bottom: 15%;
	}
	.acceleratie{
		margin-bottom: 15%;
	}
	body {
        background: url(images/grey.jpg);
        background-repeat: repeat;
        background-size: cover;
    }
	.menu{
		display: none;
	}
		.spacex{
		width: 30%;
		left: 0%;
		margin-left: 5%;
	}
}
@media only screen and (min-width: 1024px){
	a{
		font-size: 30px;
	}
	.acceleratie{
		width: 45%;
	}
	.zwaartekracht{
		width: 35%;
	}
}
@media only screen and (min-width: 1500px){
	article{
		width: 25%;
	}
	.zwaartekracht{
		margin-bottom: 3%;
		width: 25%;
		margin-top: 3%;
	}
	.acceleratie{
		width: 35%;
	}
	.footer{
		padding: 0.5%;
	}
}